/* BASIC LAYOUT */

/*body {
  background:linear-gradient(0deg,rgba(0,0,0,0),rgba(0,0,0,0)),url("https://assets.weforum.org/project/image/large_ZbcsNtoVp8NrArZWGTMk-cRIc5aGt9GPaTFyWeT5_IM.jpeg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 120 130;
}*/

/*html {
  font-size: 18px; 
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: #ffffff; 
  color: black;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}*/

/*.jumbotron  {
  padding: 30px;
  margin-bottom: 30px;
  color: blue ;
  background-color: #8A2BE2;
}*/

/*.jumbotron
{
background-color:#222;
}*/

/*h1.jumbotron  {
  color: white;;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

body {
  width: 1000px;
  margin: 0px auto;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: #f4f4f4;
  padding: 0px 0px 0px 0px;
}*/

/*h1 {
  color: white;
  width: 1200px;
  font-size: 70px; 
  text-align: center;
  font-family: "Arial", Helvetica, sans-serif; 
  background-color: #DCC7AA;
  margin: 10px 10px 5px 5px; 
  padding: 50px 50px 50px 0px; 
}*/

/*.main_title h1{
  color: white;
  margin-top:20px;
  margin-bottom: 10px;
  font-weight:500;
  line-height: 1.1;
  padding-top: 65px;
  padding-bottom: 65px;
  font-size: 50px;
  background-color: #DCC7AA;
  text-align: center;

}*/

/*.main_title h1,
.main_title .h1 {
  color: inherit;
}
.main_title p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.main_title > hr {
  border-top-color: #d5d5d5;
}*/

/*h2 {
  color: #ffffff;
  font-size: 20px;
  text-align: center; 
  font-family: "Arial", Helvetica, sans-serif;
  background-color: #97add4;
  margin: 10px 0px 0px 0px; 
  padding: 0px 0px 0px 0px; 
}

h3 {
  color: #f7f9fc;
  font-size: 20px;
  font-family: "Arial", Helvetica, sans-serif;
  margin: 10px 0px 0px 0px; 
  padding: 0px 0px 0px 0px;

}*/

/* NAVIGATION BAR  */

div.topbar {
  position: fixed;
  top: 0%; 
  left: 0; 
  width: 100%; 
  font-family: "Arial", Helvetica, sans-serif;
  background-color: #7d99ca;
  overflow-x: hidden;
  padding-top: 1px;
  padding-bottom: 1px;
}

div.topbar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: white;
  display: inline-block;
}

div.topbar a:hover {
  color: black;
}
