/* Header  */
.jumbotron  {
  padding-top: 60px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 25px;
  background-color: #3AAFA9;
}

.jumbotron h1 {
  color:#FEFFFF;
  font-size:46px;
}

.jumbotron p {
  color:#FEFFFF;
  font-size:30px;
}

/* Footer */
.row .col-md-6 {
    background-color:#DEF2F1;
    color:#17252A;
    padding-top: 25px;
    padding-bottom: 25px;
}

.row .col-md-6  h5{
  font-size: 18px;
}

.row .col-md-6  p{
  font-size:15px;
}

.container {
  font-size: 20px;
}


/* NAVIGATION BAR  */
div.topbar {
  position: fixed;
  top: 0%; 
  left: 0; 
  width: 100%; 
  font-family: "Helvetica", Helvetica, sans-serif;
  background-color: #2B7A78;
  overflow-x: hidden;
  padding-top: 6px;
  padding-bottom: 6px;
}

div.topbar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #E9E7DA;
  display: inline-block;
}

div.topbar a:hover {
  color: black;
}

